<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.versionone.com/sdk/v1query/Query" 
       class = "com.versionone.sdk.v1query.query.QueryPackage"
       genModel = "com/versionone/sdk/v1query/Query.genmodel" /> 
	
  </extension>





</plugin>
